# Local .terraform directories
**/.terraform/*

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
*tfplan*

# .tfstate files
*.tfstate
*.tfstate.*

# Ignore node modules of inline lambda functions
node_modules
