name: Terraform

on: push

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v2.3.4
    - uses: hashicorp/setup-terraform@v1.3.2
      with:
        terraform_version: 0.14.5

    - name: Install tflint
      run: brew install tflint
      env:
        HOMEBREW_NO_AUTO_UPDATE: 1

    - name: Run tflint
      run: make tflint
    - name: Run terraform validate
      run: make validate
      env:
        AWS_REGION: us-east-1
